%h2= I18n.t('twilio_verify_register_title', scope: 'devise')

= verify_twilio_verify_form do
  %legend= I18n.t('submit_token_title', scope: 'devise')
  = hidden_field_tag :"#{resource_name}_id", @resource.id
  = label_tag 'twilio-verify-token'
  = text_field_tag :token, "", :autocomplete => "one-time-code", :inputmode => "numeric", :pattern => "[0-9]*", :id => 'twilio-verify-token'
  %label
    = check_box_tag :remember_device
    %span= I18n.t('remember_device', scope: 'devise')

  = twilio_verify_request_sms_link
  = submit_tag I18n.t('submit_token', scope: 'devise'), :class => 'btn'
